@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body,
#root {
    height: 100vh;
    width: 100vw;

    background-color: #161616;
    color: white;
}

[aria-live="polite"] {
    z-index: 99999 !important;
    /* Ajusta el valor según sea necesario */
    position: fixed !important;
    /* Asegúrate de que sea fijo */
}



@layer utilities {
    .strike-div {
        position: relative;
    }

    .strike-div::after {
        content: '';
        position: absolute;
        width: 0;
        top: 50%;
        left: 0;
        right: 0;
        height: 1px;
        background-color: #f87171;
        transform: translateY(-50%);
        border-radius: 999px;
        animation: expandWidth 0.3s ease-in-out forwards;
    }

    @keyframes expandWidth {
        0% {
            width: 0;
        }

        100% {
            width: 100%;
        }
    }
}