/* ------- Scrollbar ------- */

/* width for vertical and horizontal scrollbar */
::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: transparent;
    margin: 1rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #252525;
    border-radius: 999px;
}

/* Handle hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #333333;
}

/* Ocultar los botones del scrollbar */
::-webkit-scrollbar-button {
    display: none;
}